@charset "UTF-8";
body {
	width:95%;
	min-height: 200px;
	margin: 1%;
	padding: 1%;
}
h1 {
	text-align: center;
	margin: 1%;
	padding: 1%;
}
table {
	margin: 1%;
	padding: 1%;
	text-align: center;
}
thead {
	color: white;
	background-color: black;
}
h2, p{
	margin: 1%;
	padding: 1%;
}